@CHARSET "UTF-8";
body {
	margin-left:300px;
}
#header{
	overflow :hidden;
	margin-left:-40px;
}
ul>li{
	float:left;
}
li {
	padding-right:2px;
}
#title {
	font-size:24px;
}
#add {
	padding-left:150px;
}
.star {
	color:red;
} 
#enself {
	overflow: hidden;
}
#english {
	float:left;
	width:200px;
}
#self {
	float :left;
	margin-left:50px;
 	width:200px;
}
#level2Id {
	margin-top :2px;
}
#infocontents {
	overflow: hidden;
}
#info {
	float:left;
	width:150px;
}
#contents {
	float:left;
	margin-left:250px;
	width:150px;
}






















